:root {
  --primary-200: #dce6e7;
  --primary-400: #004d61;
  --primary-600: #013644;
  --secondary-200: #e4ede3;
  --secondary-400: #47a138;
  --secondary-600: #39862c;
  --tertiary-400: #ff5031;
  --tertiary-600: #d92c0e;
  --gray-200: #f5f5f5;
  --gray-400: #cbcbcb;
  --gray-600: #8b8b8b;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: var(--secondary-200);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.main-container {
  display: grid;
  height: 100%;
  grid-template-columns: auto auto auto;
  column-gap: 1.5rem;
  justify-content: center;
  padding: 1.5rem 0rem 0rem 0rem;
}

.container {
  display: grid;
  width: 43.125rem;
}

.items {
  gap: 1.5rem;
}

.inner-div {
  margin-left: 1rem;
  margin-top: 0.25rem;
  z-index: 20;
}

/*Text colors and settings*/

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.txt-black {
  color: black;
}

.txt-white {
  color: white;
}

.font-bold {
  font-weight: bold;
}

/*Border  and Padding settings*/

.border-round {
  border-radius: 8px;
}

ul {
  padding: 0;
}

/*General component settings*/

button {
  font-size: 1rem;
  font-weight: bold;
  height: 2.75rem;
  border-radius: 8px;
  position: relative;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: 1rem;
  text-align: center;
  height: 2.75rem;
  border-radius: 8px;
  border: 1px solid var(--primary-400);
}

.dropdown {
  width: 22rem;
  user-select: none;
  position: relative;
  padding-top: 0.75rem;
}

.dropdown .dropdown-btn {
  padding: 10px 15px;
  background-color: white;
  color: var(--primary-400);
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-400);
  border-radius: 8px;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  width: 22rem;
  position: absolute;
  background: white;
  color: var(--primary-400);
  border: 1px solid var(--primary-400);
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: var(--primary-200);
  font-weight: bold;
}

.dropdown .dropdown-content .dropdown-item:last-child:hover {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/*Mobile screen settings*/

@media only screen and (max-width: 720px) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    gap: 1.5rem;
  }

  .container {
    display: grid;
    width: 19.5rem;
  }

  .items {
    gap: 1.5rem;
  }

  .dropdown {
    width: 14rem;
  }

  .dropdown .dropdown-content {
    width: 14rem;
  }
}

/*Image settings*/

.img-1 {
  width: 11.25rem;
  height: 11.125rem;
  position: absolute;
  top: 0;
  right: 0;
}

.img-2 {
  width: 11.25rem;
  height: 11.125rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-3 {
  width: 11.25rem;
  height: 11.125rem;
  position: absolute;
  top: 0;
  right: 0;
}

.img-4 {
  width: 11.25rem;
  height: 11.125rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
