.header {
    display: flex;
    background-color: var(--primary-400);    
    justify-content: right;
    align-items: center;
    gap: 3.5rem;
    padding-right: 16%;
    color: white;
    height: 6rem;
    position: relative;
}

.hamburguer-button {
    display: none;
}


.icons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
}

.user-icon {
    margin: 0;
}

.logout-icon {
    display: flex;
    height: auto;
    padding-left: 7%;
    background-color: transparent;
    border: none;
    margin: 0;
}

/*Mobile screen settings*/

@media only screen and (max-width: 720px) {
    .header {
        padding-right: 0;

        gap:60%;
        justify-content: stretch;
    }

    .hamburguer-button {
        display: flex;
        height: 2rem;
        padding-left: 7%;
        background-color: transparent;
        color: black;
        border: none;
        margin: 0;
    }

    .header-name {
        display: none;
    }
    
}