.home-body {
    align-items: center;
    background-image: linear-gradient(var(--primary-400), var(--primary-200));
    position: relative;
}

.home-content {
    justify-items: center;
}

.home-banner {
    display: grid;
    grid-template-columns: auto auto;
    width: 75rem;
    margin: 1.5rem;
}

.home-text {
    text-align: justify;
    align-self: center;
    width: 25rem;
    padding: 1rem;
}

.home-img {
    width: 41.313rem;
    height: 25.75rem;
}

.features-div {
    align-items: center;
    text-align: center;
    width: 75rem;
    margin: 1.5rem;
}

.home-features {
    display: grid;
    grid-template-columns: auto auto auto auto;
}