.investments-body {
  height: 32rem;
  background-color: var(--gray-400);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 0 0 1rem;
  position: relative;
}

.investments-text {
  font-size: 2rem;
  margin: 0;
  color: var(--primary-400);
}

.investments-section {
  background-color: var(--primary-400);
  place-content: center;
  place-items: center;
  color: white;
  padding: 0.5rem;
}

.mini-section {
  height: 5rem;
  width: 18rem;
}

.invest-section {
  display: grid;
  grid-template-columns: auto 12rem;
  gap: 25%;
  margin: 2rem 0 1rem;
}

.invest-button {
  background-color: var(--secondary-400);
  color: white;
  border: 2px solid var(--secondary-400);
  width: 10rem;
}

.income-section {
  display: grid;
  grid-template-columns: auto auto;
}

.graph-section {
  height: 11.5rem;
  width: 39rem;
}

.chart {
  color: white;
  width: 100px;
}

@media only screen and (max-width: 720px) {
  .investments-body {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    padding: 1rem 0rem 0rem 1rem;
  }

  .mini-section {
    height: 5rem;
    width: 15rem;
  }

  .invest-section {
    display: grid;
    grid-template-columns: auto;
    gap: 25%;
    margin: 2rem 0 1rem;
  }

  .invest-button {
    background-color: var(--secondary-400);
    color: white;
    border: 2px solid var(--secondary-400);
    width: 10rem;
    margin-bottom: 1rem;
  }

  .income-section {
    display: grid;
    width: 18rem;
    gap: 0.5rem;
    grid-template-columns: auto;
  }

  .graph-section {
    margin-bottom: 2rem;
    height: 11.5rem;
    width: 17rem;
  }
}
