.login-body {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0;
  justify-items: center;
  border: none;
}

.close {
  position: absolute;
  width: 1.25em;
  height: 1.25rem;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  margin: 0;
}

.login-img {
  width: 20.8rem;
  height: 17rem;
  margin-top: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.login-input {
  width: 35.75rem;
  text-align: left;
  padding-left: 1rem;
}

.login-link {
  color: var(--secondary-400);
  text-decoration: underline;
  margin: 0.5rem 0rem 1.5rem;
}

.login-button {
  align-self: center;
  background-color: var(--secondary-400);
  color: white;
  border-style: solid;
  border-color: var(--secondary-400);
  width: 9rem;
}

@media only screen and (max-width: 720px) {
  .login-body {
    width: auto;
    height: auto;
    margin: 0 1.25rem 0;
  }

  .login-input {
    width: auto;
    text-align: left;
    padding-left: 1rem;
  }

  .login-button {
    margin-bottom: 3rem;
  }
}
